{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}
        {% endblock  %}
    <link rel="stylesheet" href="{% static 'css\main.css' %}">
</head>
<body>
    
    {% if request.user.is_authenticated %}
    <a href="{% url 'log_out' %}">Logout</a>|
    <a href="{% url 'posts_home' %}">Home</a>|
    <a href="{% url 'about' %}">about</a>|
    <a href="{% url 'contact' %}">contact</a>|
    <a href="{% url 'create_post' %}">Create</a>|
    {% else %}
    <a href="{% url 'posts_home' %}">Home</a>|
    <a href="{% url 'about' %}">about</a>|
    <a href="{% url 'contact' %}">contact</a>|
    <a href="{% url 'create_post' %}">Create</a>|
    <a href="{% url 'sign_up' %}">signup</a>|
    <a href="{% url 'login' %}">Login</a>|
    {% endif %}
        
    {% block heading %}
    {% endblock  %}
    {% block form %}
    {% endblock  %}
    {% block content %}
    {% endblock  %}
<script src="{% static 'js/first.js' %}">

</script>
    
</body>
</html>